# Editors
.vscode
.DS_Store

# Databasefiles
*.db
*.db-*

# Dependency directories
node_modules/

# Environment variable file
.env

# Logs
*.log
server/.env-template
server/.DS_Store
server/package-lock.json
server/package.json
server/src/index.js
server/src/models/itemModel.js
application/app/build.gradle
application/app/src/main/java/communication/Account.kt
application/app/src/main/java/communication/Item.kt
